
@{
    ViewBag.Title = "Home Page";
}

<h2>Pick a number 1 to 100!</h2><br>


<div class="form-group">
    <br>
    Guess: <input id="guessInput" type="text" name="Guess" required>
   <br>
    <br>
    <br>
    <button class="btn btn-primary" type="button" onclick="loadDoc()">Submit</button>
   <br>
</div>
<br>



<div id="message"></div>